html {
  height: 100%;
  overflow: auto;
}
/* navbar style */
body {
  margin: 0;
  height: 100%;
  background: lightgrey;
}

.a_file {
  cursor: pointer;
}
.file {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 100px;
}

.addImage {
  opacity: 0;
  position: absolute;
  left: 0px;
  width: 50px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
}

input.scale {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 0px;
}

img {
  display: block;
  margin-bottom: 1rem;
}

img.background {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.img-logo {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
  margin-top: 5px;
}

/* working-drawing container style */
.main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 6%;
  pointer-events: all;
}
/* working-drawing style */
.working-drawing,
.tempPage {
  position: relative;
  top: 6%;
  width: 75vw;
  border: 0.3px black solid;
  background-color: white;

  scroll-snap-align: start;
}

#title {
  font-size: 26px;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 71vh;
  pointer-events: none;
  overflow: hidden;
}

.working-drawing canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  image-rendering: crisp-edges;
}

div.row {
  border: 0.5px solid black;
}

table {
  font-size: small;
}

/* remove button border when focus */
button:focus {
  border: none;
  outline: none;
}

/* table cell center text */
.side-table td,
.main-table td,
th {
  text-align: center;
  vertical-align: middle;
}

/* annotation canvas layer */
.annotation {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
